:javascript
  $(function() {
      initialize_form();

      var v = $("#frmAdmin").jcheck({notifiers: ["custom_errors"], live_notifiers: ["custom_errors"], field_prefix: "user"});
      v.validates("email", "password",{presence: true});
      v.validates_format_of("email", {"with": "email"});
  });



%h3 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => "frmAdmin"}) do |f|
  = devise_error_messages!
  %br
  %br
  %br
  %table
    %tr 
      %th{:align => 'left'}
        = f.label :email 
        = ":"
      %td
        = f.text_field :email
    %br
    %tr 
      %th
        %br
        = f.label :password 
        = ":"
      %td
        %br
        = f.password_field :password
  - if devise_mapping.rememberable?
    %p 
      = f.check_box :remember_me 
      = f.label :remember_me
  %p
    = f.submit "Sign in"
= render :partial => "devise/shared/links"

