.accordion-body.collapse{id: 'additives'}
  .accordion-inner
    .span4.left0
      .well.span4
        %h5 TPN Additives
        %hr
        = f.simple_fields_for :tpn_additive do |inv|
          - total = @additives.empty? ? 1 : @additives.size
          %table.table.table-striped{id: "additives_table"}
            %thead
              %tr
                %th Date
                - @additives.each do |ad|
                  %th= "#{ad.investigation.investigated_on.strftime('%d')} #{ad.investigation.investigated_on.strftime('%b')}"
                %th= "#{@investigation.investigated_on.strftime('%d')} #{@investigation.investigated_on.strftime('%b')}"
                %th AVG 
            %tbody
              %tr
                %td Day Of Life
                - @additives.each do |ad|
                  %td= ad.day_of_life
                %td= inv.input :day_of_life, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:day_of_life).reduce(:+).to_i / total
              %tr
                %td Day Of TPN 
                - @additives.each do |ad|
                  %td= ad.day_of_tpn
                %td= inv.input :day_of_tpn, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:day_of_tpn).reduce(:+).to_i / total
              %tr
                %td Fluid Intake(ml/kg)
                - @additives.each do |ad|
                  %td= ad.fluid_intake
                %td= inv.input :fluid_intake, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:fluid_intake).reduce(:+).to_f / total
              %tr
                %td Enteral Feeds(ml/day)
                - @additives.each do |ad|
                  %td= ad.enteral_feeds
                %td= inv.input :enteral_feeds, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:enteral_feeds).reduce(:+).to_f / total
              %tr
                %td TPN Volume 
                - @additives.each do |ad|
                  %td= ad.tpn_volume
                %td= inv.input :tpn_volume, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:tpn_volume).reduce(:+).to_f / total
              %tr
                %td Amino Acids(g/kg)
                - @additives.each do |ad|
                  %td= ad.amino_acids
                %td= inv.input :amino_acids, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:amino_acids).reduce(:+).to_f / total
              %tr
                %td Lipids(g/kg)
                - @additives.each do |ad|
                  %td= ad.lipids
                %td= inv.input :lipids, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:lipids).reduce(:+).to_f / total
              %tr
                %td TPN Calories(Cal/kg)
                - @additives.each do |ad|
                  %td= ad.tpn_calories
                %td= inv.input :tpn_calories, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:tpn_calories).reduce(:+).to_f / total
              %tr
                %td DIR 
                - @additives.each do |ad|
                  %td= ad.dir
                %td= inv.input :dir, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:dir).reduce(:+).to_f / total
              %tr
                %td NER 
                - @additives.each do |ad|
                  %td= ad.ner
                %td= inv.input :ner, input_html: {class: 'input-micro-mini'}, label: false
                %td= @additives.collect(&:ner).reduce(:+).to_f / total
    .span4.left4
      .well.span4
        %h5 Enteral Nutrition
        %hr
        = f.simple_fields_for :enteral_diagnosis do |inv|
          = inv.input :ebm, inline_label: 'EBM', label: false, wrapper_html: {class: 'pull-left'} 
          = inv.input :formula_feeds, inline_label: 'Formula Feeds', label: false
          %h6 EBM
          %hr
          = inv.input :enteral_nutrition, collection: ['EBM Only', 'EBM + HMF', 'EBM + MCT', 'EBM + MCT + HMF'], as: :radio_buttons, label: false, item_wrapper_class: 'inline', wrapper_html: {class: 'pull-left'}, input_html: {class: 'stack3'}
          = inv.input :total_enteral_calories
      .well.span4.measurements
        %h5  Anthropometric Measurements 
        %hr
        = f.simple_fields_for :anthropometric_measurement do |inv|
          = inv.input :weight do
            = inv.input :weight_measured_date, as: :string, label: false, wrapper_html: {class: 'pull-left min-bottom'}, input_html: {class: 'input-medium datepicker', readonly: :readonly}
            = inv.input :weight, wrapper: 'append', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
              = inv.input_field :weight, class: 'input-micro-mini'
              %span.add-on
                Kg 
          = inv.input :head_circ do
            = inv.input :head_circ_measured_date, as: :string, label: false, wrapper_html: {class: 'pull-left min-bottom'}, input_html: {class: 'input-medium datepicker', readonly: :readonly}
            = inv.input :head_circ, wrapper: 'append', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
              = inv.input_field :head_circ, class: 'input-micro-mini'
              %span.add-on
                cm 
          = inv.input :length do
            = inv.input :length_measured_date, as: :string, label: false, wrapper_html: {class: 'pull-left min-bottom'}, input_html: {class: 'input-medium datepicker', readonly: :readonly}
            = inv.input :length, wrapper: 'append', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
              = inv.input_field :length, class: 'input-micro-mini'
              %span.add-on
                cm 
