= javascript_include_tag "jquery.ui.datepicker", "jquery-ui-timepicker-addon", "application"
= form_for(@investigation, :url => patient_investigation_path(@patient,@investigation)) do |f|
  #accordion
    %div
      %h4 Investigation
    %div
      = render :partial => 'investigation', :locals => {:f => f}
    %div
      %h4 TPN additives
    %div
      = render :partial => 'additives', :locals => {:f => f}
  %p
    .buttons
      .grid_4
        = f.submit "Update", :class => "submit-green"
        = link_to "Cancel", patients_path, :class => "submit-gray", :width => 8
      
:javascript
  $(function() {
    $('.datetimepicker').timepicker({});
  });
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
    $( "#accordion" ).accordion("activate",-1);
  });
