.accordion-body.collapse{id: 'investigation'}
  .accordion-inner
    .span4.left0
      .well.span4
        %h5 Arterial Blood Gas Analysis
        %hr
        = f.simple_fields_for :blood_analysis, wrapper: 'prepend' do |b|
          .span5
            .row
              = b.input :ph, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  pH
                = b.input_field :ph, class: 'input-micro-mini'
              = b.input :pco2, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  PCO2 
                = b.input_field :pco2, class: 'input-micro-mini'
              = b.input :pao2, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  PaO2 
                = b.input_field :pao2, class: 'input-micro-mini'
            .row
              = b.input :hco3, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  HCO3 
                = b.input_field :hco3, class: 'input-micro-mini'
              = b.input :abe, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  ABE 
                = b.input_field :abe, class: 'input-micro-mini'
              = b.input :so2, label: false, wrapper_html: {class: 'pull-left stack3'} do 
                %span.add-on
                  SO2 
                = b.input_field :so2, class: 'input-micro-mini'
      .well.span4
        %h5 Diagnosis
        %hr
        = f.simple_fields_for :diagnosis do |d|
          .span5
            .row
              = d.input :hypoglycemia do
                = d.input :hypoglycemia, as: :radio_buttons, item_wrapper_class: 'inline', label: false, wrapper_html: {class: 'pull-left min-bottom'}
                = d.input :hypoglycemia_episode, wrapper: 'prepend', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
                  %span.add-on
                    Episode 
                  = d.input_field :hypoglycemia_episode, class: 'input-micro-mini'
              = d.input :hyperglycemia do
                = d.input :hyperglycemia, as: :radio_buttons, item_wrapper_class: 'inline', label: false, wrapper_html: {class: 'pull-left min-bottom'}
                = d.input :hyperglycemia_episode, wrapper: 'prepend', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
                  %span.add-on
                    Episode 
                  = d.input_field :hyperglycemia_episode, class: 'input-micro-mini'
              = d.input :exhange, as: :radio_buttons, item_wrapper_class: 'inline'   
              = d.input :thrombocytopenia do
                = d.input :thrombocytopenia, as: :radio_buttons, item_wrapper_class: 'inline', label: false, wrapper_html: {class: 'pull-left min-bottom'}
                = d.input :dol, wrapper: 'prepend', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
                  %span.add-on
                    DOL 
                  = d.input_field :dol, class: 'input-micro-mini'
              = d.input :haemorrhage do
                = d.input :haemorrhage, as: :radio_buttons, item_wrapper_class: 'inline', label: false, wrapper_html: {class: 'pull-left min-bottom'}
                = d.input :grade, wrapper: 'prepend', label: false, wrapper_html: {class: 'pull-left bg_ele min-bottom'} do
                  %span.add-on
                    Grade 
                  = d.input_field :grade, class: 'input-micro-mini'
    .span4.left4
      .well.span4
        %h5  Biochemistry Assessment
        %hr
        = f.simple_fields_for :biochemistry_assessment, wrapper: 'prepend' do |ba|
          = ba.input :serum_urea, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Serum Urea
            = ba.input_field :serum_urea, class: 'input-micro-mini'
          = ba.input :serum_creatinine, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Serum Creatinine 
            = ba.input_field :serum_creatinine, class: 'input-micro-mini'
          = ba.input :urine_area, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Urine Area 
            = ba.input_field :urine_area, class: 'input-micro-mini'
          = ba.input :triglycerides, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Triglycerides 
            = ba.input_field :triglycerides, class: 'input-micro-mini'
          = ba.input :bilirubin, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Bilirubin 
            = ba.input_field :bilirubin, class: 'input-micro-mini'
      .well.span4
        %h5 Electrolytes 
        %hr
        = f.simple_fields_for :electrolyte, wrapper: 'prepend' do |e|
          = e.input :sodium, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Sodium 
            = e.input_field :sodium, class: 'input-micro-mini'
          = e.input :potassium, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Potassium 
            = e.input_field :sodium, class: 'input-micro-mini'
          = e.input :calcium, label: false, wrapper_html: {class: 'pull-left stack3'} do 
            %span.add-on
              Calcium 
            = e.input_field :calcium, class: 'input-micro-mini'
      .well.span4
        %h5 Blood Sugar Monitoring
        %hr
        = f.simple_fields_for :blood_sugar_monitors do |bs|
          = bs.input :blood_sugar_monitored_on, input_html: {class: 'datetimepicker'}, as: :string
          = bs.input :details
      
