-if @is_search 
  = form_tag(investigations_results_path, :id => 'select_patient') do |f|
    .module
      %h2
        %span
          Investigation for
      .module-body
        .fieldset
          .input1
            %strong Date
            = text_field :info,:date,:class => 'datepicker', "data-date-format" => "yyyy-mm-dd",:size => 20
          .input1
            %strong Patient
            = text_field :info,:patient, :class => "span3", :style => "margin: 0 auto;", "data-provide" => "typeahead", "data-items" => "8", data:{source: @patients } , :autocomplete => "off"

            = hidden_field_tag :selected_patient_id
          .input2
            = submit_tag 'Show', :class => 'submit-green'
:javascript

  $("#select_patient").submit( function () {
    if($('#info_date').val() == ""){
      alert("Please select a date");
      return false;
    }
    if($('#info_patient').val()==""){
      alert('Patient does not exist.');
      return false;
    }
    return true;
  });
  $('.datepicker').datepicker();
