= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information" , edit_patient_path(@patient)
    %li 
      = link_to "Patient history", patient_info_path(@patient)
    %li 
      = link_to "Daily Investigation" , "#"
.grid_12
  = render :partial => 'search'
.grid_12
  .module
    %h2
      %span
        #{@patient.name}  -  #{@investigation.investigated_on}
    .module-body
      #frmPop
        .grid_12
          = render :partial => 'edit'
        %div{:style => "clear:both;"}
