= render :partial => 'search'
-if !@investigations.empty?
  .container_12
    .grid_12
      .module
        %h2
          %span Investigations
        .module-body
          %dl
            %dt{:style => 'background-color:#EEEEEE; width:30%;'}
              %strong Date 
            %dt{:style => 'background-color:#EEEEEE; width:33%;'} 
              %strong Patient name
            %dt{:style => 'background-color:#EEEEEE; width:33%'}
              %strong Today's investigation
            - @investigations.each do |inv|
              %dd{:style => 'background-color:#EEEEEE; width:30%;'}
                = link_to inv.investigated_on.strftime("%d %b %Y"), edit_hospital_patient_investigation_path(current_hospital, inv.patient_id,inv)
              %dd{:style => 'background-color:#EEEEEE; width:33%;'}
                = inv.patient.name
              %dd{:style => 'background-color:#EEEEEE; width:33%;'}
                = link_to "Add", new_hospital_patient_investigation_path(current_hospital, inv.patient_id)
                 
          .pagination
            .current
              .numbers
                %span
                  = will_paginate @investigations
                  =# page_entries_info @investigations
