.grid_12
  = raw display_message
  .bottom-spacing
    .float-right
      %a.button{:href => new_user_registration_path(:for => @selected_menu), :rel => :facebox}
        %span
          Invite Doctor
          = image_tag('/images/plus-small.gif', :height => "9", :width => "12")
  .module
    %h2
      %span 
        = @selected_menu
    .module-table-body
      %table#myTable.tablesorter
        %thead
          %tr
            %th{:style => "width:5%"} No
            %th{:style => "width:20%"} Name 
            %th{:style => "width:21%"} Email 
            %th{:style => "width:21%"} Phone Number 
            %th{:style => "width:21%"} Action 
        %tbody
          - counter = 1
          - @users.each do |user|
            %tr
              %td.align-center 
                = counter
              %td 
                = user.name
              %td
                = user.email
              %td
                = user.mobile_number
              %td
                %a{:href => ""}
                  %img{:alt => "edit", :height => "16", :src => "/images/pencil.gif", :width => "16"}/
                %a{:href => ""}
                  %img{:alt => "delete", :height => "16", :src => "/images/bin.gif", :width => "16"}/
    .pagination
