.span10
  .module
    %h2
      %span 
        - if params[:type].to_i==NUTRITIONIST
          Nutritionists
        - else
          Doctors
    .module-table-body
      %table#myTable.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th{:style => "width:5%"} No
            %th{:style => "width:20%"} Name 
            %th{:style => "width:21%"} Email 
            %th{:style => "width:21%"} Phone Number 
            %th{:style => "width:21%"} Action 
        %tbody
          - counter = 1
          - @users.each do |user|
            %tr
              %td.align-center 
                = counter
              %td 
                = user.name
              %td
                = user.email
              %td
                = user.mobile_number
              %td
                = link_to edit_hospital_user_path(current_hospital, user.role_id, user) do
                  = image_tag "pencil.gif", :alt => "edit", :height => "16", :width => "16"
                = link_to hospital_user_path(current_hospital, user.role.id, user) do
                  = image_tag "bin.gif", :alt => "show", :height => "16", :width => "16"
                = link_to hospital_user_path(current_hospital, params[:type], user), :method => 'delete' do
                  = image_tag("/assets/cross-small.gif",:height => "16", :width => "16")
              - counter = counter+1
    .pagination
