.grid_12
  = raw display_message
  .bottom-spacing
    .float-right
      %a.button{:href => new_user_registration_path(:for => @selected_menu), :rel => :facebox}
        %span
          - if params[:for].to_i==NUTRITIONIST
            Invite Nutritionist 
          - else
            Invite Doctor
          = image_tag('/images/plus-small.gif', :height => "9", :width => "12")
  .module
    %h2
      %span 
        - if params[:for].to_i==NUTRITIONIST
          Nutritionists
        - else
          Doctors
    .module-table-body
      %table#myTable.tablesorter
        %thead
          %tr
            %th{:style => "width:5%"} No
            %th{:style => "width:20%"} Name 
            %th{:style => "width:21%"} Email 
            %th{:style => "width:21%"} Phone Number 
            %th{:style => "width:21%"} Action 
        %tbody
          - counter = 1
          - @users.each do |user|
            %tr
              %td.align-center 
                = counter
              %td 
                = user.name
              %td
                = user.email
              %td
                = user.mobile_number
              %td
                %a{:href => edit_user_path(user.id), :rel => :facebox}
                  %img{:alt => "edit", :height => "16", :src => "/images/pencil.gif", :width => "16"}/
                %a{:href => user_path(user.id), :rel => :facebox}
                  %img{:alt => "show", :height => "16", :src => "/images/bin.gif", :width => "16"}/
                = link_to(image_tag("/images/cross-small.gif",:height => "16", :width => "16"), user_path(user.id, :for => params[:for]), :method => 'delete')
              - counter = counter+1
    .pagination
