#frmPop
  .grid_12
    .module#no_background
      %h3
        %span Profile 
    .module-body
      .div{:style => "width:50%;float:left;"}
        %p
          %strong
            Name : 
        %p
          %strong
            Address :
        %p
          %strong
            City :
        %p
          %strong
            Pincode :
        %p
          %strong
            Residence Telephone :
        %p
          %strong
            Emergency Telephone:
        %p
          %strong
            Mobile Number :
      .div{:style => "width:50%;float:left;"}
        %p
          #{@user.name}
        %p
          #{@user.address}
        %p
          #{@user.city}
        %p
          #{@user.pincode}
        %p
          #{@user.residence_telephone}
        %p
          #{@user.emergency_telephone}
        %p
          #{@user.mobile_number}
