= simple_form_for @tpn , :html => { :class => "form-horizontal"} do |f|
  %h3{:style => "text-align:center"}
    TPN Information
  .form-inputs.row
    = f.input :day_of_tpn, :wrapper_html => { :class => 'span2'}, input_html: {style:'width:50px;'}
    = f.association :user, collection: @doctors, include_blank: false, :wrapper_html => { :class => "span3" }, label: 'Doctor'
    = f.association :patient, collection: @patients, prompt: "choose", :wrapper_html => {:class => "span3"}
  %div{:style => "width:38%;float:left;" }
    %h3{:style => "margin-left:60px;"}
      Daily Fluid Volume Intake
    .form-inputs.row
      = f.input :tpn_date, :wrapper => :append, data: {date_format: "yyyy-mm-dd"} do
        = f.input_field :tpn_date, as: :string, class: 'datepicker'
        %span.add-on>
          %i.icon-calendar
      = f.input :current_weight, input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_current_weight", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} Kg
      = f.input :dextrose_conc, input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_dextrose_conc", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} %
      = f.input :total_fluid_intake, label: 'Fluid Intake', input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_total_fluid_intake", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} ml/kg/day
      = f.input :fat_volume, label: 'Fat Required', input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_fat_volume", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} gm/kg/day
      = f.input :fat_concentration, label: 'Lipid Concentration', input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_fat_concentration", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} %
      = f.input :factor, label: 'Overfill Factor', input_html: {style:'width:50px;'}, :wrapper_html => { :class => "span3"}
      %input{:id => "previous_factor", :style => "float:left;width:40px;", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} Kg
  %div{:style => "width:60%;float:left;"}
    %h3{ :style => "margin-left:60px;" }
      Additive Nutrients
    .form-inputs.row
      = f.input :amino_acid,  input_html: {style:'width:50px;'}, :wrapper_html => {:class => "span4" }
      %input{ :id => "amino_acid_previous", :style => "float:left;width:40px;margin-right:20px;", :disabled => true}
      %label{:style => "float:left; margin-right:58px;"} gm/kg  
      %a.button{:id => "amino", :class => "btn btn-primary", :style => "float:left;width:14px;height:20px;", :href => '#amino-model', 'data-toggle' => 'modal'}
      %input{ :id => "amino_acid_additive_id", :style => "float:left;width:40px;margin-left:30px", :disabled => true}
      %label{:style => "float:left;margin-left:30px;"} %  
      = f.input :sodium_chloride, input_html: {style:'width:50px;'}, :wrapper_html => {:class => "span4" }
      %input{ :id => "sodium_chloride_previous", :style => "float:left;width:40px;margin-right:20px;", :disabled => true}
      %label{:style => "float:left; margin-right:50px;"} meq/kg  
      %a.button{:id => "sodium", :class => "btn btn-primary", :style => "float:left;width:14px;height:20px;", :rel => :facebox}
      %input{ :id => "sodium_chloride_additive_id", :style => "float:left;width:40px;margin-left:30px", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} meq/ml 
      = f.input :potassium_chloride, input_html: {style:'width:50px;'}, :wrapper_html => {:class => "span4"}
      %input{ :id => "potassium_chloride_previous", :style => "float:left;width:40px;margin-right:20px;", :disabled => true}
      %label{:style => "float:left; margin-right:50px;"} meq/kg  
      %a.button{:id => "potassium", :class => "btn btn-primary", :style => "float:left;width:14px;height:20px;", :rel => :facebox}
      %input{ :id => "potassium_chloride_additive_id", :style => "float:left;width:40px;margin-left:30px", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} meq/ml 
      = f.input :calcium, input_html: {style:'width:50px;'}, :wrapper_html => {:class => "span4" }
      %input{ :id => "calcium_previous", :style => "float:left;width:40px;margin-right:20px;", :disabled => true}
      %label{:style => "float:left; margin-right:50px;"} meq/kg  
      %a.button{:id => "calcium", :class => "btn btn-primary", :style => "float:left;width:14px;height:20px;", :rel => :facebox}
      %input{ :id => "calcium_additive_id", :style => "float:left;width:40px;margin-left:30px", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} meq/ml 
      = f.input :magnesium, input_html: {style:'width:50px;'}, :wrapper_html => {:class => "span4" }
      %input{ :id => "magnesium_previous", :style => "float:left;width:40px;margin-right:20px;", :disabled => true}
      %label{:style => "float:left; margin-right:50px;"} meq/kg  
      %a.button{:id => "magnesium", :class => "btn btn-primary", :style => "float:left;width:14px;height:20px;", :rel => :facebox}
      %input{ :id => "magnesium_additive_id", :style => "float:left;width:40px;margin-left:30px", :disabled => true}
      %label{:style => "float:left;margin-left:10px;"} meq/ml 
      = f.input :administration, collection: ['Peripheral Line', 'Central Line'], as: :radio_buttons, :wrapper_html => {:class => "span6" }
  = f.button :submit, :Class => "btn btn-primary"
%div#amino-model{:class => "model hide face in"}
  %h2
    Additives Concentration
  %table
    %thead
      %th
        Available Dose
      %th
        Concentration
      %th
        Unit
      %tbody 
      - TpnMarketAdditive.amino_acid.each do |additive|
        %tr
          %td
            = additive.market_name
          %td
            = additive.constant
          %td
            = additive.unit
