= simple_form_for @tpn , :url => calculate_hospital_tpns_path(current_hospital), :remote => true, :html => { :class => "form-horizontal well" , :id => "new_tpn", method: :post}, :wrapper => :tpn do |f|
  = render partial: 'tpn_form', locals: {f: f}
  = f.button :submit, :Class => "btn btn-primary", :value => "Calculate Tpn"
:javascript
  var dates = #{raw (@dates || [''])};
  var patient = "#{ @patient.nil? ? '': @patient.name }";
