:javascript
  $(document).ready(function() {
    $([[$('#tpn_amino_acid_additive_id'),$('.amino_acid'),$("input[name='amino[acid]']"),$('#amino')],
      [$('#tpn_sodium_chloride_additive_id'),$('.sodium_chloride'),$("input[name='sodium[chloride]']"),$('#sodium')],
      [$('#tpn_potassium_chloride_additive_id'),$('.potassium_chloride'),$("input[name='potassium[chloride]']"),$('#potassium')],
      [$('#tpn_calcium_additive_id'),$('.calcium'),$("input[name='calcium[]']"),$('#calcium')],
      [$('#tpn_magnesium_additive_id'),$('.magnesium'),$("input[name='magnesium[]']"),$('#magnesium')]]).each(function(){
      var temp = this;
      temp[1].dialog({
        autoOpen: false,
        height: 250,
        width: 400,
        modal: true,
        buttons: {
          OK: function() {
            $(temp[0]).val(parseFloat(temp[2].filter(':checked').val()))
            $(this).dialog("close"); 
          }
       }     
      });
      temp[3].click(function() {
        temp[1].dialog('open');
        return false;
      });
     });
  });


= form_for(@tpn, :url => tpns_path, :remote => true) do |f|
  #content
    .form
      .columns
        .wat-cf
          .column
            .left
              = label :doctor, "doctor"
              = text_field :doctor, "doctor", :size => 23, :value => current_user.name
              %br
              %br
              = f.label :day_of_tpn
              = f.text_field :day_of_tpn,  :size => 20
            .center
              = label :birth_weight, "Birth Weight"
              = text_field :birth_weight, "weight", :size => 5 
            .right
              = label :patient_name, "Patient Name"
              = text_field :patient, "name", :size => 23
      %p
        %hr
        .columns
          .wat-cf
            .column
              .left
                %p  
                  .left
                    = f.label :current_weight
                  .center
                    = "(kg)"
                  .right
                    = f.text_field :current_weight, :size => 5 
                %p  
                  %br
                  %br
                    .left
                      = f.label :dextrose_conc
                    .center
                      = "(%)"
                    .right
                      = f.text_field :dextrose_conc, :size => 5
                %p  
                  %br
                  %br
                    .left
                      = f.label :total_fluid_intake
                    .center
                      = "(ml/kg/day)"
                    .right
                      = f.text_field :total_fluid_intake, :size => 5
                %p  
                  %br
                  %br
                    .left
                      = f.label :surgical_losses
                    .center
                      = "(ml/day)"
                    .right
                      = f.text_field :losses, :size => 5
                %p  
                  %br
                  %br
                    .left
                      = f.label :fat_required
                    .center
                      = "(gm/kg/day)"
                    .right
                      = f.text_field :fat_volume, :size => 5
                %p  
                  %br
                  %br
                    .left
                      = f.label :lipid_concentration
                    .center
                      = "(%)"
                    .right
                      = f.text_field :fat_concentration, :size => 5
                %p  
                  %br
                  %br
                    .left
                      = f.label :overfill_factor
                    .center
                      = "--"
                    .right
                      = f.text_field :factor, :size => 5
                %p  
                  %br
                  %br
                  %br
                  %br
                    = f.submit "Calculate"
                    = button_to_function "Cancel", "$.facebox.close()"
              .center
                %p
                  .left
                    = f.text_field :amino_acid_additive_id, :size => 3, :default => 0, :readonly => true
                  .center
                    = link_to "Modify", "#", :class => "additive", :id => "amino"
                  .right
                    = "(%)"
                  %div{:class => 'amino_acid', :title => 'Market names'}
                    %table{:width => 300, :height => 100}
                      %tr{:align => 'left'}
                        %th{:width => 50}
                          %th
                            = 'Market Name'
                        %th
                          = 'Constant'
                      - TpnMarketAdditive.amino_acid.each do |content|
                        %tr
                          %td
                            = radio_button "amino", 'acid', content.constant, :checked => true
                          %td 
                            = content.market_name
                          %td 
                            = content.constant
                %br
                %br
                %p
                  .left
                    = f.text_field :sodium_chloride_additive_id, :size => 3, :default => 0, :readonly => true
                  .center
                    = link_to "Modify", "#", :class => "additive", :id => "sodium"
                  .right
                    = "(meq/ml)"
                  %div{:class => 'sodium_chloride'}
                    %table{:width => 300, :height => 100}
                      %tr
                        %th{:width => 50}
                          %th
                            = 'Market Name'
                        %th
                          = 'Constant'
                      - TpnMarketAdditive.sodium_chloride.each do |content|
                        %tr
                          %td
                            = radio_button "sodium", 'chloride', content.constant, :checked => true
                          %td 
                            = content.market_name
                          %td 
                            = content.constant
                %br
                %br
                %p
                  .left
                    = f.text_field :potassium_chloride_additive_id, :size => 3, :default => 0, :readonly => true
                  .center
                    = link_to "Modify", "#", :class => "additive", :id => "potassium"
                  .right
                    = "(meq/ml)"
                  %div{:class => 'potassium_chloride'}
                    %table{:width => 300, :height => 100}
                      %tr{:align => 'left'}
                        %th{:width => 50}
                          %th
                            = 'Market Name'
                        %th
                          = 'Constant'
                      - TpnMarketAdditive.potassium_chloride.each do |content|
                        %tr
                          %td
                            = radio_button "potassium", 'chloride', content.constant, :checked => true
                          %td 
                            = content.market_name
                          %td
                            = content.constant
                %br
                %br
                %p
                  .left
                    = f.text_field :calcium_additive_id, :size => 3, :default => 0, :readonly => true
                  .center
                    = link_to "Modify", "#", :class => "additive", :id => "calcium"
                  .right
                    = "(meq/ml)"
                  %div{:class => 'calcium'}
                    %table{:width => 300, :height => 100}
                      %tr{:align => 'left'}
                        %th{:width => 50}
                          %th
                            = 'Market Name'
                        %th
                          = 'Constant'
                      - TpnMarketAdditive.calcium.each do |content|
                        %tr
                          %td
                            = radio_button "calcium", '', content.constant , :checked => true
                          %td 
                            = content.market_name
                          %td
                            = content.constant
                %br
                %br
                %p
                  .left
                    = f.text_field :magnesium_additive_id, :size => 3, :default => 0, :readonly => true
                  .center
                    = link_to "Modify", "#", :class => "additive", :id => "magnesium"
                  .right
                    = "(meq/ml)"
                %br
                %br
                %p  
                  = radio_button "line", "","central", :checked => false, :id => "central_line"
                  = f.label :central_line
                  %div{:class => 'magnesium'}
                    %table{:width => 300, :height => 100}
                      %tr{:align => 'left'}
                        %th{:width => 50}
                          %th
                            = 'Market Name'
                        %th
                          = 'Constant'
                      - TpnMarketAdditive.magnesium.each do |content|
                        %tr
                          %td
                            = radio_button "magnesium", '', content.constant, :checked => true
                          %td 
                            = content.market_name
                          %td
                            = content.constant
              .right
                %p  
                  .left
                    = f.label :amino_acid
                  .right
                    = f.text_field :amino_acid, :size => 5, :default => 0
                    = "(gm/kg)"
                %p 
                  %br
                  %br
                    .left
                      = f.label :sodium_chloride
                    .right
                      = f.text_field :sodium_chloride, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                  %br
                    .left
                      = f.label :potassium_chloride
                    .right
                      = f.text_field :potassium_chloride, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                  %br
                    .left
                      = f.label :calcium
                    .right
                      = f.text_field :calcium, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                  %br
                    .left
                      = f.label :magnesium
                    .right
                      = f.text_field :magnesium, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                  %br
                    .left
                      = f.label :administration
                    .right
                      = radio_button "line", '',"peripheral", :checked => true, :id => "peripheral_line"
                      = f.label :peripheral_line
