= stylesheet_link_tag  "jquery-ui-1.8.11.custom"
= javascript_include_tag "jquery-1.5.1", "jquery-ui-1.8.11.custom"

:javascript
  $(document).ready(function($) {
    $('.additive').click(function() {
          $('#dialog').dialog('open');
    });
  })  

= form_for(@value, :url => tpns_path, :remote => true) do |f|
  #content
    .form
      .columns
        .wat-cf
          .column
            .left
              = label :doctor, "doctor"
              = text_field :doctor, "doctor", :size => 23
            .center
              = label :birth_weight, "Birth Weight"
              = text_field :birth_weight, "doctor", :size => 5 
            .right
              = label :patient_name, "Patient Name"
              = text_field :doctor, "doctor", :size => 23
      %p
      %hr
        .columns
          .wat-cf
            .column
              .left
                %p  
                  .left
                    = f.label :current_weight
                  .center
                    = "(kg)"
                  .right
                    = f.text_field :current_weight, :size => 5 
                %p  
                  %br
                    .left
                      = f.label :dextrose_conc
                    .center
                      = "(%)"
                    .right
                      = f.text_field :dextrose_conc, :size => 5
                %p  
                  %br
                    .left
                      = f.label :total_fluid_intake
                    .center
                      = "(ml/kg/day)"
                    .right
                      = f.text_field :total_fluid_intake, :size => 5
                %p  
                  %br
                    .left
                      = f.label :surgical_losses
                    .center
                      = "(ml/day)"
                    .right
                      = f.text_field :losses, :size => 5
                %p  
                  %br
                    .left
                      = f.label :fat_required
                    .center
                      = "(gm/kg/day)"
                    .right
                      = f.text_field :fat_volume, :size => 5
                %p  
                  %br
                    .left
                      = f.label :lipid_concentration
                    .center
                      = "(%)"
                    .right
                      = f.text_field :fat_concentration, :size => 5
                %p  
                  %br
                  %br
                  %br
                  %br
                  %br
                  %br
                    = f.submit "Calculate"
                    = button_to_function "Cancel", "$.facebox.close()"
              .center
                %p
                  .left
                    = f.text_field :amino_acid, :size => 3, :default => 0
                  .center
                    = link_to "Amino Acid Concentration", "#", :class => "additive"
                  .right
                    = "(%)"
                %br
                %p
                  .left
                    = f.text_field :amino_acid, :size => 3, :default => 0
                  .center
                    = "g"
                  .right
                    = "(meq/ml)"
                %br
                %p
                  .left
                    = f.text_field :amino_acid, :size => 3, :default => 0
                  .center
                    = "g"
                  .right
                    = "(meq/ml)"
                %br
                %p
                  .left
                    = f.text_field :amino_acid, :size => 3, :default => 0
                  .center
                    = "g"
                  .right
                    = "(meq/ml)"
              .right
                %p  
                  .left
                    = f.label :amino_acid
                  .right
                    = f.text_field :amino_acid, :size => 5, :default => 0
                    = "(gm/kg)"
                %p  
                  %br
                    .left
                      = f.label :sodium_chloride
                    .right
                      = f.text_field :sodium_chloride, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                    .left
                      = f.label :potassium_chloride
                    .right
                      = f.text_field :potassium_chloride, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                    .left
                      = f.label :calcium
                    .right
                      = f.text_field :calcium, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                    .left
                      = f.label :magnesium
                    .right
                      = f.text_field :magnesium, :size => 5
                      = "(meq/kg)"
                %p  
                  %br
                    .left
                      = f.label :administration
                    .right
                      = f.check_box :administration
    #dialog{:style => 'display: none'}
      = text_field_tag :amino
