%h3{:style => "text-align:center;"}
%table.table.table-striped
  %tr
    %td{:style => "font-weight:bold;"}
      Name
    %td{:style => "font-weight:bold;"}
      = @patient.name 
    %td
      Date
    %td{:style => "font-weight:bold;"}
      = @tpn.created_at.to_date 
  %tr
    %td
      Reg No.
    %td
      = @patient.registration_number 
    %td
      TPN Day
    %td
      = @tpn.day_of_tpn 
  %tr
    %td
      Doctor
    %td
      = @doctor.name 
    %td{:style => "font-weight:bold;"}
      Dextrose Concentration
    %td{:style => "font-weight:bold;"}
      #{ @result.achieved_dextrose_conc } %
  %tr
    %td
      Prepared Volume
    %td{:style => "font-weight:bold;"}
      = @result.tpn_vol
      ml
    %td
    %td
%h4
%table.table.table-striped
  %tr{:style => "font-weight:bold;"}
    %td
      Additive
    %td
      Intake
  %tr
    %td
      Amino Acid
    %td
      = @result.amino_acid_intake
      gm/kg
  %tr
    %td
      Sodium
    %td
      #{ @result.sodium_chloride_intake } meq/kg
  %tr
    %td
      Potassium
    %td
      #{ @result.potassium_chloride_intake } meq/kg
  %tr
    %td
      Magnesium
    %td
      #{ @result.magnesium_intake } meq/kg
  %tr
    %td
      Calcium
    %td
      #{ @result.calcium_intake } meq/kg
  %tr
    %td
      Multivitamins
    %td
      #{ @result.mvi } ml
%h4
  Administration ( #{ @tpn.administration } )
%table.table.table-striped
  %tr
    %td
      TPN Volume
    %td{:style => "font-weight:bold;"}
      = @result.tpn_vol
      ml
    %td
      Infuse @
    %td{:style => "font-weight:bold;"}
      = (@result.tpn_vol / 24 - @tpn_infusion.feed_volume_over_24_hour - @tpn_infusion.arterial_line_infusion - @tpn_infusion.inotrope_infusion - @tpn_infusion.inotrope_infusion - @tpn_infusion.other_infusion).round(2)
      ml/hr
  %tr
    %td
      Fat
    %td{:style => "font-weight:bold;"}
      #{ @result.fat_vol } ml
    %td
      Infuse @
    %td{:style => "font-weight:bold;"}
      #{ @result.fat_vol == 0 ? 0 : @result.fat_vol / 12 } ml/hr
  %tr
    %td
      Dextrose Infusion Rate (DIR)
    %td{:style => "font-weight:bold;"}
      #{ @result.dir_rate } mg/kg/min
    %td
    %td
%table{ :class => "sign_bottom"}
  %tr
    %td
      Doctor's Signature:
  %tr
    %td{:style => "height:10px"}
  %tr
    %td
      Date:
