#new-tpn_infusion{ :class => "modal hide fade"}
  .modal-header
    = link_to 'X', '', class: 'close', type: 'button', data: { dismiss: 'modal' }
    %head
      %h3{:style => "text-align:center;"}
        Nutri Summary Sheet
  .body.form-horizontal
    = label_tag 'Initial TPN infusion', nil, class: 'label_custom'
    = label_tag @result.present? ? @result.tpn_vol : '' , nil, class: 'label_custom2'
    = label_tag '@', nil, class: 'label_custom2'
    = label_tag @result.present? ? (@result.tpn_vol / 24).round(2) : '',nil , class: 'label_custom2', id: 'initial_tpn'
    = label_tag '(ml/hr)', nil, class: 'unit'
    = label_tag '(ml/hr)', nil, class: 'unit'
    = f.input :feed_volume_over_24_hour, input_html: { min: '0.00', step:'0.10' }, class: 'mini'
    = label_tag '(ml/hr)', nil, class: 'unit'
    = f.input :arterial_line_infusion, input_html: { min: '0.00', step:'0.10' }
    = label_tag '(ml/hr)', nil, class: 'unit'
    = f.input :inotrope_infusion, input_html: { min: '0.00', step:'0.10' }
    = label_tag '(ml/hr)', nil, class: 'unit'
    = f.input :other_infusion, input_html: { min: '0.00', step:'0.10' }
    = label_tag 'Final TPN orders at initiation', nil, class: 'label_custom7'
    .controls
      = label_tag @result.present? ? ( @result.tpn_vol / 24 ).round(2) : '', nil, class: 'label_custom2', id: 'final_tpn_order'
    = label_tag '(ml/hr)', nil, class: 'unit'
    = link_to 'Close', '', class: 'btn btn-primary margin_top', type: 'button', data: { dismiss: 'modal', target: '#new-tpn_infusion'}
