%h3{:style => "text-align:center;"}
  TPN Nutrition Plan
%table.table.table-striped
  %tr
    %td{:style => "font-weight:bold;"}
      Name
    %td{:style => "font-weight:bold;"}
      = @patient.name 
    %td
      Date
    %td{:style => "font-weight:bold;"}
      = @tpn.created_at.to_date 
  %tr
    %td
      Reg No.
    %td
      = @patient.registration_number 
    %td{:style => "font-weight:bold;"}
      TPN Day
    %td{:style => "font-weight:bold;"}
      = @tpn.day_of_tpn 
  %tr
    %td
      Current Weight
    %td
      = @tpn.current_weight 
    %td
      Date of Birth
    %td
      = @patient.date_of_birth 
  %tr
    %td
      Doctor
    %td
      = @doctor.name 
    %td
    %td
%h4
  Fluids
%table.table.table-striped
  %tr
    %td
      Total Fluid( 100 ml/kg/day)
    %td
      = @result.total_fluid_intake_vol
      ml
    %td
      Feed volume over 24 hour
    %td
      = @tpn_infusion.feed_volume_over_24_hour
      ml/hr
  %tr
    %td
      Dextrose 10 %
    %td
      = @result.dextrose_10
      ml
    %td
      Arterial line infusion
    %td
      = @tpn_infusion.arterial_line_infusion
      ml/hr
  %tr
    %td
      Dextrose 50 %
    %td
      = @result.dextrose_50
      ml
    %td
      Inotrope Infusion
    %td
      = @tpn_infusion.inotrope_infusion
      ml/hr
  %tr
    %td
      Volume to be infused(HAV)
    %td{:style => "font-weight:bold;"}
      = @result.hav_vol
      ml
    %td
      Other Infusion
    %td
      = @tpn_infusion.other_infusion
      ml/hr
  %tr
    %td
      Prepared Volume
    %td{:style => "font-weight:bold;"}
      = @result.tpn_vol
      ml
    %td{:style => "font-weight:bold;"}
      Final TPN orders at initiation
    %td{:style => "font-weight:bold;"}
      = (@result.tpn_vol / 24 - @tpn_infusion.feed_volume_over_24_hour - @tpn_infusion.arterial_line_infusion - @tpn_infusion.inotrope_infusion - @tpn_infusion.inotrope_infusion - @tpn_infusion.other_infusion).round(2)
      ml/hr
  %tr
    %td
      Fat (10%) 0 gm/kg/day
    %td{:style => "font-weight:bold;"}
      = @result.fat_vol
      ml
    %td
    %td
%h4
  Additive Nutrients
%table.table.table-striped
  %tr{:style => "font-weight:bold;"}
    %td
      Additive
    %td
      Intake
    %td
      Conc
    %td
      Dose
    %td
      Vol
  %tr
    %td
      Amino Acid
    %td
      = @result.amino_acid_intake 
    - if @tpn.amino_acid_additive.present?   
      %td
        #{ @result.amino_acid_conc * 100 } %
      %td
        = @tpn.amino_acid_additive.market_name 
    - else
      %td
        = TpnMarketAdditive.amino_acid.first.constant if TpnMarketAdditive.amino_acid.first.present?
      %td
        = TpnMarketAdditive.amino_acid.first.market_name if TpnMarketAdditive.amino_acid.first.present?
    %td
      #{@result.amino_acid_vol } ml
  %tr
    %td
      Sodium
    %td
      #{ @result.sodium_chloride_intake } meq/kg
    - if @tpn.sodium_chloride_additive.present? 
      %td
        #{ @result.sodium_chloride_conc } meq/ml
      %td
        = @tpn.sodium_chloride_additive.market_name 
    - else
      %td
        = TpnMarketAdditive.sodium_chloride.first.constant if TpnMarketAdditive.sodium_chloride.first.present?
        meq/ml
      %td
        = TpnMarketAdditive.sodium_chloride.first.market_name if TpnMarketAdditive.sodium_chloride.first.present?
    %td
      #{ @result.sodium_chloride_vol } ml
  %tr
    %td
      Potassium
    %td
      #{ @result.potassium_chloride_intake } meq/kg
    - if @tpn.potassium_chloride_additive.present? 
      %td
        #{ @result.potassium_chloride_conc } meq/ml
      %td
        = @tpn.potassium_chloride_additive.market_name 
    - else
      %td
        = TpnMarketAdditive.potassium_chloride.first.constant if TpnMarketAdditive.potassium_chloride.first.present?
        meq/ml
      %td
        = TpnMarketAdditive.potassium_chloride.first.market_name if TpnMarketAdditive.potassium_chloride.first.present?
    %td
      #{ @result.potassium_chloride_vol } ml
  %tr
    %td
      Magnesium
    %td
      #{ @result.magnesium_intake } meq/kg
    - if @tpn.magnesium_additive.present? 
      %td
        #{ @result.magnesium_conc } meq/ml
      %td
        = @tpn.magnesium_additive.market_name 
    - else
      %td
        = TpnMarketAdditive.magnesium.first.constant if TpnMarketAdditive.magnesium.first.present?
        meq/ml
      %td
        = TpnMarketAdditive.magnesium.first.market_name if TpnMarketAdditive.magnesium.first.present?
    %td
      #{ @result.magnesium_vol } ml
  %tr
    %td
      Calcium
    %td
      #{ @result.calcium_intake } meq/kg
    - if @tpn.calcium_additive.present? 
      %td
        #{ @result.calcium_conc } meq/ml
      %td
        = @tpn.calcium_additive.market_name 
    - else
      %td
        = TpnMarketAdditive.calcium.first.constant if TpnMarketAdditive.calcium.first.present?
      %td
        = TpnMarketAdditive.calcium.first.market_name if TpnMarketAdditive.calcium.first.present?
    %td
      #{ @result.calcium_vol } ml
  %tr
    %td
      Multivitamins
    %td
      #{ @result.mvi } ml
    %td
    %td
    %td
%h4
  Administration ( #{ @tpn.administration } )
%table.table.table-striped
  %tr
    %td
      Dextrose Concentration
    %td{:style => "font-weight:bold;"}
      #{ @result.achieved_dextrose_conc } %
    %td
      Dextrose Infusion Rate (DIR)
    %td{:style => "font-weight:bold;"}
      #{ @result.dir_rate } mg/kg/min
  %tr
    %td
      Calories (Non protein)
    %td{:style => "font-weight:bold;"}
      #{ @result.non_protein } cal
    %td
      Calorie Nitrogen Ratio (CNR)
    %td{:style => "font-weight:bold;"}
      = @result.cnr_rate
  %tr
    %td
      CHO
    %td
      #{ @result.cho_calories } cal
    %td
      Total Protein
    %td{:style => "font-weight:bold;"}
      #{ @result.total_protein } gm
  %tr
    %td
      Fat
    %td
      #{ @result.fat_calories } cal
    %td
    %td
%table{ :class => "sign_bottom"}
  %tr
    %td
      Doctor's Signature:
  %tr
    %td{:style => "height:10px"}
  %tr
    %td
      Date:
