#tpn
  = render :partial => "form"
= render :partial => "tpn_additives"
= render :partial => "errors" if @errors.present?
= render :partial => "warnings" if @warnings.present?
#tpn-show
:javascript
  var patients = #{@patients}
  var hospital = "#{current_hospital.slug}"
