$('#previous_tpn_date').datepicker('remove');
var dates = #{raw @dates };
function custom_dates(date){ ymd = date.getFullYear() + '-' + ("0" + (date.getMonth()+1)).slice(-2) + '-' + ( "0" + date.getDate()).slice(-2) ;if ( $.inArray(ymd,dates) < 0) return [true,""];else return [true,"red"]; };
$('#previous_tpn_date').datepicker({ beforeShowDay: custom_dates });
$('#tpn_day_of_tpn').val("#{ @tpn.day_of_tpn  }");
$('#tpn_current_weight').val("#{ @tpn.current_weight }");
$('#previous_current_weight').val("#{ @tpn.current_weight }");
$('#tpn_dextrose_conc').val("#{ @tpn.dextrose_conc }");
$('#previous_dextrose_conc').val("#{ @tpn.dextrose_conc }");
$('#tpn_total_fluid_intake').val("#{ @tpn.total_fluid_intake }");
$('#previous_total_fluid_intake').val("#{ @tpn.total_fluid_intake }");
$('#tpn_fat_volume').val("#{ @tpn.fat_volume }");
$('#previous_fat_volume').val("#{ @tpn.fat_volume }");
$('#tpn_fat_concentration').val("#{ @tpn.fat_concentration }");
$('#previous_fat_concentration').val("#{ @tpn.fat_concentration }");
$('#tpn_factor').val("#{ @tpn.factor }");
$('#previous_factor').val("#{ @tpn.factor }");
$('#tpn_amino_acid').val("#{ @tpn.amino_acid }");
$('#amino_acid_previous').val("#{ @tpn.amino_acid }");
$('#tpn_sodium_chloride').val("#{ @tpn.sodium_chloride }");
$('#sodium_chloride_previous').val("#{ @tpn.sodium_chloride }");
$('#tpn_potassium_chloride').val("#{ @tpn.potassium_chloride }");
$('#potassium_chloride_previous').val("#{ @tpn.potassium_chloride }");
$('#tpn_calcium').val("#{ @tpn.calcium }");
$('#calcium_previous').val("#{ @tpn.calcium }");
$('#tpn_magnesium').val("#{ @tpn.magnesium }");
$('#magnesium_previous').val("#{ @tpn.magnesium }");
$("#tpn_administration_#{@tpn.administration.underscore.gsub(' ', '_')}").click();
$('#tpn_amino_acid_additive_id').val("#{ @tpn.amino_acid_additive_id }");
$('#amino_acid_additive').val("#{ TpnMarketAdditive.find( @tpn.amino_acid_additive_id ).constant }");
$('#tpn_sodium_chloride_additive_id').val("#{ @tpn.sodium_chloride_additive_id }");
$('#sodium_chloride_additive').val("#{ TpnMarketAdditive.find( @tpn.sodium_chloride_additive_id ).constant }");
$('#tpn_potassium_chloride_additive_id').val("#{ @tpn.potassium_chloride_additive_id }");
$('#potassium_chloride_additive').val("#{ TpnMarketAdditive.find( @tpn.potassium_chloride_additive_id ).constant }");
$('#tpn_calcium_additive_id').val("#{ @tpn.calcium_additive_id }");
$('#calcium_additive').val("#{ TpnMarketAdditive.find( @tpn.calcium_additive_id ).constant }");
$('#tpn_magnesium_additive_id').val(" #{ @tpn.magnesium_additive_id } ");
$('#magnesium_additive').val("#{ TpnMarketAdditive.find( @tpn.magnesium_additive_id ).constant }");
