$('#previous_tpn_date').popover('hide');
$('#previous_current_weight').val("#{ @tpn.current_weight }");
$('#previous_dextrose_conc').val("#{ @tpn.dextrose_conc }");
$('#previous_total_fluid_intake').val("#{ @tpn.total_fluid_intake }")
$('#previous_fat_volume').val("#{ @tpn.fat_volume }");
$('#previous_fat_concentration').val("#{ @tpn.fat_concentration }");
$('#previous_factor').val("#{ @tpn.factor }");
$('#amino_acid_previous').val("#{ @tpn.amino_acid }");
$('#sodium_chloride_previous').val("#{ @tpn.sodium_chloride }");
$('#potassium_chloride_previous').val("#{ @tpn.potassium_chloride }");
$('#calcium_previous').val("#{ @tpn.calcium }");
$('#magnesium_previous').val("#{ @tpn.magnesium }");
