$('#previous_tpn_date').popover('hide');
$('#previous_current_weight').val("#{ @tpn.current_weight }");
$('#previous_dextrose_conc').val("#{ @tpn.dextrose_conc }");
$('#previous_total_fluid_intake').val("#{ @tpn.total_fluid_intake }")
$('#previous_fat_volume').val("#{ @tpn.fat_volume }");
$('#previous_fat_concentration').val("#{ @tpn.fat_concentration }");
$('#previous_factor').val("#{ @tpn.factor }");
$('#amino_acid_previous').val("#{ @tpn.amino_acid }");
$('#sodium_chloride_previous').val("#{ @tpn.sodium_chloride }");
$('#potassium_chloride_previous').val("#{ @tpn.potassium_chloride }");
$('#calcium_previous').val("#{ @tpn.calcium }");
$('#magnesium_previous').val("#{ @tpn.magnesium }");
$('#tpn_amino_acid_additive_id').val("#{ @tpn.amino_acid_additive_id }");
$('#amino_acid_additive').val("#{ TpnMarketAdditive.find( @tpn.amino_acid_additive_id ).constant }");
$('#tpn_sodium_chloride_additive_id').val("#{ @tpn.sodium_chloride_additive_id }");
$('#sodium_chloride_additive').val("#{ TpnMarketAdditive.find( @tpn.sodium_chloride_additive_id ).constant }");
$('#tpn_potassium_chloride_additive_id').val("#{ @tpn.potassium_chloride_additive_id }");
$('#potassium_chloride_additive').val("#{ TpnMarketAdditive.find( @tpn.potassium_chloride_additive_id ).constant }");
$('#tpn_calcium_additive_id').val("#{ @tpn.calcium_additive_id }");
$('#calcium_additive').val("#{ TpnMarketAdditive.find( @tpn.calcium_additive_id ).constant }");
$('#tpn_magnesium_additive_id').val(" #{ @tpn.magnesium_additive_id } ");
$('#magnesium_additive').val("#{ TpnMarketAdditive.find( @tpn.magnesium_additive_id ).constant }");
