%div.span{ :style => "margin-left:0px;margin-top:100px;" }
  = render :partial => 'sidemenu'
%div.span8
  = render :partial => 'report'
  = link_to "Download Report Pdf", { :controller => "tpns", :action => "report", format: :pdf, :print_type => "attachment"}, :class => "btn btn-primary"
  %button{ id: "print_report" , :class => "btn btn-primary"} Print Report
:javascript
  $(document).ready(function() { 
    $('#print_report').printPage({
      url:"/hospitals/#{ current_hospital.slug }/tpns/report/#{ @tpn.id}.pdf",
      attr: "href"
    }); 
  });
