= simple_form_for [current_hospital, @patient], html: { class: 'form-horizontal well' } do |f|
  %fieldset
    %legend Basic Information
    .span4
      = f.input :registration_number
      = f.input :name
      = f.input :gender_id,  collection: Gender.all
      = f.input :date_of_birth, as: :string, input_html: {'data-date-format' => 'dd/mm/yyyy'}
      = f.input :birth_weight
      = f.input :additional_detail, as: :text, input_html: {rows: 4, cols: 7} 
    .span4
      = f.input :address
      = f.input :city
      = f.input :state
      = f.input :pincode
      = f.input :residence_telephone
      = f.input :emergency_telephone
      = f.input :mobile_number
  .form-actions
    = f.submit "Next", :class => "btn btn-primary"
    = link_to "Cancel", [current_hospital, @patient], :class => "btn"
