%table#myTable.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th No
      %th Registration number
      %th Name 
      %th Admitted on 
      %th Birth Wt. 
      %th Gender
      %th Phone Number 
      %th Profile
  %tbody
    - counter = 1
    - @patients.each do |patient|
      %tr
        %td
          =  counter
        %td
          =  link_to patient.registration_number, [current_hospital, patient]
        %td
          =  link_to patient.name, [current_hospital, patient]
        %td
          =  patient.admission.try(:admitted_on).try(:strftime,"%d-%m-%Y")
        %td
          =  patient.birth_weight
        %td
          =  patient.gender_id == 0 ? '-' : Gender.find(patient.gender_id).name 
        %td
          =  patient.emergency_telephone
        %td
          = link_to edit_hospital_patient_path(current_hospital, patient) do
            %i.icon-edit
          = link_to hospital_patient_path(current_hospital, patient) do  
            %i.icon-list 
          = link_to hospital_patient_path(current_hospital, patient), :method => 'delete', :title => 'Delete', :confirm => 'Are you sure?' do
            %i.icon-remove
          - if patient.investigations.exists?
            %i.icon-ok
      - counter = counter+1
