%table#myTable.table
  %thead
    %tr
      %th No
      %th Registration number
      %th Name 
      %th Admitted on 
      %th Birth Wt. 
      %th Gender
      %th Phone Number 
      %th Profile
  %tbody
    - counter = 1
    - @patients.each do |patient|
      %tr
        %td
          =  counter
        %td
          =  link_to patient.registration_number, [current_hospital, patient]
        %td
          =  link_to patient.name, [current_hospital, patient]
        %td
          =  patient.admission.try(:admitted_on).try(:strftime,"%d-%m-%Y")
        %td
          =  patient.birth_weight
        %td
          =  patient.gender_id == 0 ? '-' : Gender.find(patient.gender_id).name 
        %td
          =  patient.emergency_telephone
        %td
          %a{:href => edit_hospital_patient_path(current_hospital, patient), :title => 'Edit'}
            %img{:alt => "edit", :height => "16", :src => "/assets/pencil.gif", :width => "16"}/
          %a{:href => hospital_patient_path(current_hospital, patient), :title => 'Show'}
            %img{:alt => "show", :height => "16", :src => "/assets/bin.gif", :width => "16"}/
          = link_to(image_tag("/assets/cross-small.gif",:height => "16", :width => "16"), hospital_patient_path(current_hospital, patient), :method => 'delete', :title => 'Delete', :confirm => 'Are you sure?')
          - if patient.investigations.exists?
            %img{:alt => "", :height => "16", :src => "/assets/tick-circle.gif", :width => "16"}/
      - counter = counter+1
