= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information" , "#"
    %li 
      = link_to "Patient history", patient_info_path(@patient)
    %li 
      - if @investigation.nil?
        = link_to "Daily Investigation", new_patient_investigation_path(@patient, :for_day => Date.today)
      - else
        = link_to "Daily Investigation", edit_patient_investigation_path(@patient, @investigation)
#frmPop
  .grid_12
    .module
      %h2
        %span Patient
      .module-body
        = render :partial => 'edit.html.haml'
      %div{:style => "clear:both;"}
