.grid_12
  = raw display_message
  .bottom-spacing
    .float-right
      %a.button{:href => new_patient_path}
        %span
          Add patient 
          = image_tag('/images/plus-small.gif', :height => "9", :width => "12")
.module
  %h2
    %span 
      Patients
  .module-table-body
    %table#myTable.tablesorter
      %thead
        %tr
          %th{:style => "width:5%"} No
          %th{:style => "width:10%"} Name 
          %th{:style => "width:10%"} Birth Wt. 
          %th{:style => "width:15%"} Registration number
          %th{:style => "width:10%"} Gender ID
          %th{:style => "width:10%"} Phone Number 
          %th{:style => "width:5%"} Profile
      %tbody
        - counter = 1
        - @patients.each do |patient|
          %tr
            %td.align-center 
              =  counter
            %td
              =  patient.name
            %td
              =  patient.birth_weight
            %td
              =  patient.registration_number
            %td
              =  patient.gender_id
            %td
              =  patient.emergency_telephone
            %td
              %a{:href => edit_patient_path(patient.id)}
                %img{:alt => "edit", :height => "16", :src => "/images/pencil.gif", :width => "16"}/
              %a{:href => patient_path(patient.id)}
                %img{:alt => "show", :height => "16", :src => "/images/bin.gif", :width => "16"}/
              = link_to(image_tag("/images/cross-small.gif",:height => "16", :width => "16"), patient_path(patient.id), :method => 'delete')
          - counter = counter+1
    .pagination
      .current
        .numbers
          %span
            = will_paginate @patients
            = page_entries_info @patients

