= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information" , edit_patient_path(@patient)
    %li 
      = link_to "Patient history", patient_info_path(@patient)
    %li 
      - if @investigation.nil?
        = link_to "Daily Investigation", investigation_new_path(@patient.id, Date.today.strftime("%m-%d-%Y"))
      - else
        = link_to "Daily Investigation", edit_patient_investigation_path(@patient, @investigation)
#frmPop
  .grid_12
    = render :partial => 'history'
