= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information" , edit_patient_path(@patient)
    %li 
      = link_to "Patient history", "#"
    - if params[:for].present?
      %li 
        = link_to "Daily Investigation", "#"
      %li 
        = link_to "TPN additives", "#"
#frmPop
  .grid_12
    = render :partial => 'history'
