= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information", "#"
    %li 
      = link_to "Patient history", "#errMsg", :rel => :facebox
    %li 
      = link_to "Daily Investigation", "#errMsg", :rel => :facebox
#frmPop
  .grid_12
    .module
      %h2
        %span New Patient
      .module-body
        = render :partial => 'form'
      %div{:style => "clear:both;"}
#errMsg
  %p{:class => 'errMsg'} Please register the patient first.

