= content_for :submenu do
  %ul
    %li 
      = link_to "Basic Information", "#"
    %li 
      = link_to "Patient history", "#"
    %li 
      = link_to "Daily Investigation", "#"
    %li 
      = link_to "TPN additives", "#"
#frmPop
  .grid_12
    .module
      %h2
        %span New Patient
      .module-body
        = render :partial => 'form'
      %div{:style => "clear:both;"}
