#frmPop
  .grid_12
    .module
      %h2
        %span Patient's profile
      .module-body
        .div{:style => "width:400px;float:left;"}
          %p
            %strong
              Name
            %br
              = @patient.name
          %p  
            %strong
              Gender
            %br
              = Gender.find(@patient.gender_id).name
          %p
            %strong
              Address
            %br
              = @patient.address
          %p  
            %strong
              State
            %br
              = @patient.state
          %p
            %strong
              City
            %br
              = @patient.city
          %p
            %strong
              Pincode
            %br
              = @patient.pincode
        .div{:style => "width:400px;float:left;"}
          %p
            %strong
              Date of birth
            %br
              = @patient.date_of_birth
          %p
            %strong
              Birth Weight
            %br
              = @patient.birth_weight
          %p
            %strong
              Mobile Number
            %br
              =   @patient.pincode
          %p
            %strong
              Residence Telephone
            %br
              = @patient.residence_telephone
          %p
            %strong
              Emergency Telephone
            %br
              = @patient.pincode
          %p
            %strong
              Additional Detail
          %br
            = @patient.additional_detail
#frmPop
  .grid_12
    .grid_6
      .module
        %h2
          %span Patient's history
        .module-body
          .div{:style => "width:250px;float:left;"}
            %p
              %strong ANC
            %p
              %strong Post Obstetric History
            %p  
              %strong Maternal USG
            %p
              %strong Age
            %p  
              %strong Pre-pregnancy weight
            %p
              %strong Height
            %p
              %strong Toxemia
            %p  
              %strong Daibetes
            %p    
              %strong Antenatal Steroids 
          .div{:style => "width:150px;float:left;"}
            %p
              = @mother_history.try(:is_anc)
            %p
              = @mother_history.try(:post_obstetric_history)
            %p
              = @mother_history.try(:maternal_usg)
            %p
              = @mother_history.try(:age)
            %p
              = @mother_history.try(:pre_pregnancy_weight)
            %p
              = @mother_history.try(:height)
            %p
              = @mother_history.try(:toxemia)
            %p
              = @mother_history.try(:diabetes)
            %p
              = @mother_history.try(:is_antenatal_steroids)
    .grid_6
      .module
        %h2
          %span Mother's history
        .module-body
          .div{:style => "width:250px;float:left;"}
            %p
              %strong Gestational Age
            %p
              %strong GA
            %p  
              %strong Mode of delivery
            %p
              %strong Rupture of Membranes 
            %p  
              %strong Resuscitation:Apgar scores
              %strong 
                1 min. - 
            %p
              %strong 
                5 min. -
            %p  
              %strong 
                20 min. -
          .div{:style => "width:150px;float:left;"}
            %p
              = @patient_history.try(:gestational_age)
            %p
              = @patient_history.try(:ga)
            %p
              = @patient_history.try(:mode_of_delivery)
            %p
              = @patient_history.try(:rupture_of_membranes)
            %p
              = @patient_history.try(:apgar_score_1)
            %p
              = @patient_history.try(:apgar_score_5)
            %p
              = @patient_history.try(:apgar_score_20)
        %div{:style => "clear:both;"}
