= render 'sidemenu'
.module
  .span10
    %h2
      %span 
        = "#{@patient.name} Profile"
    .span10
      .span4.left0
        %address
          %strong Address
          %br
          = @patient.address
          %br
          - if !@patient.state.blank? || !@patient.city.blank? || !@patient.pincode.blank?
            = "#{@patient.state}, #{@patient.city} #{@patient.pincode}"
            %br
          - unless @patient.mobile_number.blank?  
            %abbr{title: "Mobile"} M: 
            = @patient.mobile_number
            %br
          - unless @patient.residence_telephone.blank?  
            %abbr{title: "Residence Telephone"} R: 
            = @patient.residence_telephone
            %br
          - unless @patient.emergency_telephone.blank?  
            %abbr{title: "Emergency Telephone"} E: 
            = @patient.emergency_telephone
        %br
        %strong Additional Details
        = @patient.additional_detail
      .span4.left4   
        %strong Date of Birth: 
        = @patient.date_of_birth
        %br
        %strong Gender: 
        = @patient.gender.name
        %br
        %strong Birth Weight: 
        = @patient.birth_weight

    %hr 
    .span10
      .span4.left0
        %h3 
          %span Patient's History
        %table.table.table-bordered.table-striped.table-hover
          %tbody
            %tr
              %td ANC
              %td= @mother_history.try(:is_anc) ? "Yes" : "No"
            %tr
              %td Post Obstetric History
              %td= @mother_history.try(:post_obstetric_history)
            %tr
              %td Maternal USG
              %td= @mother_history.try(:maternal_usg)
            %tr
              %td Age 
              %td= @mother_history.try(:age)
            %tr
              %td Pre-pregnancy weight
              %td= @mother_history.try(:pre_pregnancy_weight)
            %tr
              %td Height
              %td= @mother_history.try(:height)
            %tr
              %td Toxemia
              %td= @mother_history.try(:toxemia)
            %tr
              %td Daibetes
              %td= @mother_history.try(:diabetes)
            %tr
              %td Antenatal Steroids 
              %td= @mother_history.try(:is_antenatal_steroids) ? "Yes" : "No"
      .span4.left4
        %h3 
          %span Mother's History
        %table.table.table-bordered.table-striped.table-hover
          %tbody
            %tr
              %td Gestational Age
              %td= @patient_history.try(:gestational_age)
            %tr
              %td GA
              %td=@patient_history.try(:ga)
            %tr  
              %td Mode of delivery
              %td= @patient_history.try(:mode_of_delivery)
            %tr
              %td Rupture of Membranes 
              %td= @patient_history.try(:rupture_of_membranes)
            %tr  
              %td Resuscitation:Apgar scores
              %td
            %tr
              %td 1 min. 
              %td= @patient_history.try(:apgar_score_1)
            %tr
              %td 5 min. 
              %td= @patient_history.try(:apgar_score_5)
            %tr
              %td 20 min. 
              %td= @patient_history.try(:apgar_score_20)
