= simple_form_for @hospital do |f|
  .hospital{:style => "width:30%;float:left;"}
    - @hospital.errors.full_messages.each do |msg|
      %p= msg
    = f.input :name
    = f.input :doctors_count
    = f.input :nutritionists_count
    = f.input :patients_count
  .main-admin{:style => "width:60%;float:left;height:300px;"}
    = f.simple_fields_for :users do |user|
      .admin{:style => "width:50%;float:left;"}
        = user.input :email
        = user.input :name
        = user.input :address
        = user.input :mobile_number
      .admin{:style => "width:50%;float:left;"}
        = user.input :city
        = user.input :pincode
        = user.input :residence_telephone
        = user.input :emergency_telephone
        = user.input :additional_detail
        = user.hidden_field :roles_mask, :value => "1"
  = f.button :submit, :class => "btn btn-primary"
