.span10
  .float-right
    %a.button{:href => new_hospital_path, :class => "btn btn-primary", :style => "float:right"}
      %span
        Add Hospital
  %h2
    %span
      Hospitals
  %table#myTable.table
    %thead
      %tr
        %th Name
        %th Doctors Limit
        %th Nutritionists Limit
        %th Patients Limit
        %th Action
    %tbody
      - @hospitals.each do |hospital|
        %tr
          %td 
            = hospital.name
          %td 
            = hospital.doctors_count
          %td 
            = hospital.nutritionists_count
          %td 
            = hospital.patients_count
          %td 
            %a{:href => edit_hospital_path(hospital.id), :rel => :facebox}
              %img{:alt => "edit", :height => "16", :src => "assets/pencil.gif", :width => "16"}/
            %a{:href => hospital_path(hospital.id), :rel => :facebox }
              %img{:alt => "show", :height => "16", :src => "assets/bin.gif", :width => "16"}/
            = link_to(image_tag("/assets/cross-small.gif",:height => "16", :width => "16"), hospital_path(hospital.id), :method => 'delete', :title => 'Delete', :confirm => 'Are you sure?')             
