#main
  %h3 Profile
  #profile
    %table{:width => 400}
      %p
        %tr
          %td
            %h1 Name 
          %td
            %h6
              #{@user.name}
      %p
        %tr
          %td
            %h1 Address
          %td
            %h6
              #{@user.address}
      %p
        %tr
          %td
            %h1 City
          %td  
            %h6
              #{@user.city}
      %p
        %tr
          %td
            %h1 Pincode
          %td  
            %h6
              #{@user.pincode}
      %p
        %tr
          %td
            %h1 Residence Telephone
          %td  
            %h6
              #{@user.residence_telephone}
      %p
        %tr
          %td
            %h1 Emergency Telephone
          %td  
            %h6
              #{@user.emergency_telephone}
      %p
        %tr
          %td
            %h1 Mobile Number
          %td  
            %h6
              #{@user.mobile_number}
#sidebar
  %h3  Go for 
  #content
    = link_to raw("<span>Edit profile</span>"), edit_path(@user.id), :rel => 'facebox'
    %br
    %br
    = link_to "Patient", patient_index_path
