#main 
  %h3 Update Profile
  = form_for(@user, :url =>  user_registration_path, :method => :put) do |f|
    - if @user.errors.present?
      - @user.errors.full_messages.each do |error|
        %br
        = error
    #content 
      %p
        = f.label :name
        *
        %br/
        = f.text_field :name
      %p
        = f.label :address
        %br/
        = f.text_field :address  
      %p
        = f.label :city
        %br/
        = f.text_field :city  
      %p
        = f.label :pincode
        %br/
        = f.text_field :pincode
      %p
        = f.label :residence_telephone
        %br/
        = f.text_field :residence_telephone
      %p  
        = f.label :emergency_telephone
        %br/
        = f.text_field :emergency_telephone    
      %p
        = f.label :mobile_number
        %br/
        = f.text_field :mobile_number
      %p
        = f.submit "Update"
