#main
  %h3 Reset my password
  = form_for(@user, :url => reset_password_path(:id => @user)) do |f|    
    #content 
      %p
        = f.label :password
        %br
        = f.password_field :password
      %p
        =f.label :password_confirmation
        %br
        = f.password_field :password_confirmation
      %p  
        = f.hidden_field :roles_mask, :value => params[:for]
        %p  
        = f.submit "Sign up"
        %br 
      = render :partial => "devise/shared/links"
