%ul.nav
  - if current_user.admin?
    %li{:class => if_current(@selected_menu == DOCTOR)}
      = link_to "Users", hospital_users_path(current_hospital, DOCTOR) 
    %li{:class => if_current(@selected_menu == PATIENT)}
      = link_to "Patients", hospital_patients_path(current_hospital) 
  - else
    %li{:class => if_current(@selected_menu == PATIENT)}
      = link_to "Patients", hospital_patients_path(current_hospital) 
  %li
    = link_to "TPN Calculation", hospital_tpns_path(current_hospital)
  %li{:class => if_current(@selected_menu == 'report')}
    = link_to "Report", hospital_reports_path(current_hospital)

