= simple_form_for [current_hospital, @report], html: { class: 'form-inline well' }, wrapper: 'inline'  do |f|
  %h3
    %strong Report for
  = f.input :investigation, as: :radio_buttons, collection: [['Last day of investigation', 'last_day'], ['Summary', 'summary']], label: false,item_wrapper_class: 'inline'
  = f.submit 'show', class: 'btn btn-primary left4', style: 'margin-bottom:10.5px'
  #summary
    = f.text_field :start_date, class: 'datepicker', readonly: :readonly, placeholder: 'Start Date'
    = f.text_field :end_date, class: 'datepicker', readonly: :readonly, placeholder: "End Date"
    = f.select :patient, @patients.collect{|a| [a.name, a.id]}

