= simple_form_for [current_hospital, @report], html: { class: 'form-inline well' }, wrapper: 'inline'  do |f|
  %h3
    %strong Report for
  = f.input :investigation, as: :radio_buttons, collection: [['Last day of investigation', 'last_day'], ['Summary', 'summary']], label: false,item_wrapper_class: 'inline'
  = f.submit 'show', class: 'btn btn-primary left4', style: 'margin-bottom:10.5px'
  #summary
    = f.text_field :start_date, class: 'datepicker', readonly: :readonly, placeholder: 'Start Date'
    = f.text_field :end_date, class: 'datepicker', readonly: :readonly, placeholder: "End Date"
    = f.select :patient, @patients.collect{|a| [a.name, a.id]}

:javascript
  $("#summary").hide();
  if( $("input[name='report[investigation]']:checked").val() == 'summary')
  {
    $("#summary").show();
  }
  $("#report_investigation_last_day").click(function(){
    $("#summary").hide();
  });
  $("#report_investigation_summary").click(function(){
    $("#summary").show();
  });  
  
  $('.datepicker').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayBtn: true
  });
  
  $("#new_report").submit( function () {
    if( $("input[name='report[investigation]']:checked").val() == 'summary'){
      if($('#report_patient').val()==""){
        alert('Patient does not exist .');
          return false;
     }
     return true;
    }
  });

                  

