= form_for(@report, reports_path, :html => {:method => :get}) do |f|
  .module
    %h2
      %span
        Report for
    .module-body
      .fieldset
        %p
          = f.radio_button :investigation, "last_day"
          %strong Last day of investigation
          = f.radio_button :investigation, "summary"
          %strong Summary
          = f.submit 'Show', :class => 'submit-green'
        %p
          .div{:id => 'summary'}  
            %strong Start Date
            = f.text_field :start_date,:class => 'datepicker', :size => 20
            %strong End Date
            = f.text_field :end_date,:class => 'datepicker', :size => 20
            %strong Patient
            = f.autocomplete_field :patient, investigations_autocomplete_patient_name_path, :id_element => '#selected_patient_id', :size => 20
            = hidden_field_tag :selected_patient_id

:javascript
  $("#summary").hide();
  $("#report_investigation_last_day").click(function(){
    $("#summary").hide();
  });
  $("#report_investigation_summary").click(function(){
    $("#summary").show();
  });
