.span10
  = render :partial => 'index'

.span12.well
  -if !@report_type.nil? and !@investigations.empty?
    - if @report_type == 'summary'
      %h3
        %strong Patient Name -: #{@patient.name}
    .span2.report 
      - if @report_type == 'last_day'
        %div    
          %strong Name
      %div
        %strong Date
      %div
        %strong REG NO
      %div
        %strong Weight
      %div    
        %strong GA
      %div
        %strong Fluid
      %div
        %strong Amino Acid
      %div
        %strong Lipids
      %div
        %strong Sodium
      %div
        %strong Potassium
      %div
        %strong Calcium
      %div
        %strong Triglycerides
      %div
        %strong Urea
      %div
        %strong Creatinine
      %div
        %strong BSL
      %div
        %strong CNR
    - @investigations.each do |inv|
      .span2.report{class: @investigations.last == inv && "last"} 
        - if @report_type == 'last_day'
          %div
            = inv.patient.name 
        %div
          = inv.investigated_on
        %div
          = inv.patient.registration_number
        %div
          = inv.patient.birth_weight
        %div
          = inv.patient.patient_history ? inv.patient.patient_history.ga : "-"
        %div
          = (!inv.tpn_additive.nil? and inv.tpn_additive.fluid_intake.present?) ? inv.tpn_additive.fluid_intake : "- " 
        %div
          = (!inv.tpn_additive.nil? and inv.tpn_additive.amino_acids.present?) ? inv.tpn_additive.amino_acids : "-" 
        %div
          = (!inv.tpn_additive.nil? and inv.tpn_additive.lipids.present?) ? inv.tpn_additive.lipids : " -"
        %div
          = (!inv.electrolyte.nil? and inv.electrolyte.sodium.present?) ? inv.electrolyte.sodium : " -"
        %div
          = (!inv.electrolyte.nil? and inv.electrolyte.potassium.present?) ? inv.electrolyte.potassium : "- "
        %div
          = (!inv.electrolyte.nil? and  inv.electrolyte.calcium.present?) ? inv.electrolyte.calcium : " -"
        %div
          = (!inv.biochemistry_assessment.nil? and inv.biochemistry_assessment.triglycerides.present?) ? inv.biochemistry_assessment.triglycerides : " -"
        %div
          =  (!inv.biochemistry_assessment.nil? and inv.biochemistry_assessment.urine_area.present?) ? inv.biochemistry_assessment.urine_area : " -"
        %div
          =  (!inv.biochemistry_assessment.nil? and inv.biochemistry_assessment.serum_creatinine.present?) ? inv.biochemistry_assessment.serum_creatinine : " -"
        %div
          = "Remained"#inv.patient.name 
        %div
          = "Remained"#inv.patient.name 
    .pagination
      .current
        .numbers
          %span
            = will_paginate @investigations
  - else
    %strong No Investigations found!!
