%html
  %head
    %title Kimaya TPN
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body.preview
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :href => "/", :class => "brand" }
            Kimaya TPN
          - if user_signed_in?
            .nav-collapse.collapse
              = render 'header' 
              %ul.nav.pull-right
                %li
                  = link_to "Logout", destroy_user_session_path
    = show_flash_messages if show_flash_messages.present?              
    -if content_for(:submenu)
      #subnav
        .container
          .navbar
            = yield :submenu
    .container
      .row
        = yield :sidemenu if content_for(:sidemenu)
        = yield
      %br
      %br
      %footer{id: "footer"}
        %p
          \&copy; 2010.
          %a{:href => "http://www.joshsoftware.com", :title => "Josh Software Pvt Ltd."} 
            Kimaya TPN


